DJANGO_SECRET_KEY=
SITE_DOMAIN=yetpanda.dev
API_DOMAIN=api.yetpanda.dev
DATABASE_URL=postgres://yetpanda:yetpanda@127.0.0.1:5434/yetpanda
REDIS_URL=redis://127.0.0.1:6380/0
IP_HASH_SALT=
FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
YTDLP_COOKIEFILE=
USE_X_ACCEL=true
GLOBAL_DOWNLOAD_SLOTS=4
